#ajax-contents-container.igh-curtain-loading .page-contents-ajax-list-cover {
  display: block!important;
}
#ajax-contents-container.igh-curtain-loading .page-contents-ajax-list {
  opacity: 0.25!important;
}
.page-contents-list-menu-sort.page-contents-list-menu-opacity {
  opacity: 1!important;
}
.page-contents-list-menu-sort.page-contents-list-menu-opacity .page-contents-list-menu-sort-col-xs-auto {
  opacity: 0.5;
}
#indiegala-giveaways-toolbar-left {
  font-size: 20px;
  color: white !important;
  display: flex;
  justify-content: end;
  align-items: center;
}
#indiegala-giveaways-toolbar-left-count {
  user-select: none;
}
#indiegala-giveaways-toolbar-right {
  font-size: 20px;
  color: white !important;
  display: flex;
  justify-content: end;
  align-items: center;
}
.indiegala-giveaway figure a,
.indiegala-giveaway figure a img {
  height: 100% !important;
}
.items-list-item-type .fa-slash {
  position: relative;
  display: inline-block;
}
.items-list-item-type .fa-slash::after {
  content: "";
  position: absolute;
  top: 50%;
  left: -20%;
  width: 140%;
  height: 3px;
  background: white;
  transform: rotate(-45deg);
  transform-origin: center;
  pointer-events: none;
}
.indiegala-giveaway-blackout .items-list-item-title,
.indiegala-giveaway-blackout .items-list-item-type,
.indiegala-giveaway-blackout .items-list-item-data,
.indiegala-giveaway-blackout .items-list-item-indicators {
  background-color: #000 !important;
}
.indiegala-giveaway-blackout .items-list-item-title a,
.indiegala-giveaway-blackout .items-list-item-data > * {
  color: #FFF !important;
}
.indiegala-giveaway-blackout .items-list-item-tooth {
  filter: opacity(0%);
}
/* .indiegala-giveaway-blackout img[alt="steamdb-logo"] {
  filter: invert(100%);
} */
.page-contents-ajax-list-cover {
  min-height: 70px;
}
.page-contents-ajax-list-cover-loading,
.items-list-item-loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 30;
  font-size: 5em;
  color: white;
  background: rgba(0, 0, 0, 0.75);
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.items-list-item-indicators {
  color: #000;
  background-color: #FFF;
  min-height:34px;
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
  padding: 10px 10px 6px;
}

.product-type-unknown-icon {
  color: white !important;
  background-color: black !important;
  font-size: 18px !important;
  border-radius: 25px !important;
}
.product-type-game-icon {
  color: var(--igh-game) !important;
}
.product-type-dlc-icon {
  color: var(--igh-dlc) !important;
}
.product-type-music-icon {
  color: var(--igh-music)  !important;
}
.product-type-package-icon {
  color: var(--igh-package)  !important;
}
.product-type-hardware-icon {
  color: var(--igh-hardware)  !important;
}
.product-type-mod-icon {
  color: var(--igh-mod)  !important;
}
.product-type-demo-icon {
  color: var(--igh-demo)  !important;
}
.product-type-video-icon,
.product-type-episode-icon,
.product-type-series-icon {
  color: var(--igh-video)  !important;
}

.items-list-item-indicators-icons-product,
.items-list-item-indicators-icons-steamdb,
.items-list-item-indicators-icons-description {
  width: 24px;
  height: 24px;
}
.items-list-item-indicators-icons-owner {
  width: 32px;
  height: 32px;
}
.items-list-item-indicators-icons-steamdb img,
.items-list-item-indicators-icons-owner img,
.items-list-item-indicators-platforms img {
  width: 24px;
}

.indiegala-giveaway[data-owner-id=''] .items-list-item-indicators-icons-owner {
  width: 24px;
  height: 24px;
}

.items-list-item-indicators-platforms > div {
  border: 2px solid white;
  border-radius: 25px;
}

.items-list-item-indicators-icons,
.items-list-item-type-left-btns,
.items-list-item-type-right-btns {
  font-size: 20px;
}
.items-list-item-indicators-icons-description {
  font-size: 24px;
}

.items-list-item-type > i {
  font-size: 18px;
}

/* Badges */
.product-status-badge,
.product-base-game-badge,
.product-base-game-owned-badge,
.package-owned-apps-badge,
.package-owned-keys-badge, 
.package-items-owned-badge,
.key-owned-badge {
  height: 12px;
  width: 12px;
  font-size: 12px;
  display: block;
}
.package-apps-badge,
.owner-level-badge {
  padding: 2px 4px;
  border-radius: 25px;
  font-size: 10px;
  line-height: 1;
  min-height: 12px;
  font-weight: 400;
  vertical-align: baseline;
  right: -7px!important;
  cursor: default!important;
}
.platform-badge img {
  width: 12px;
  display: block;
}
.feudalife-badge img {
  width: 24px;
  display: block;
}

.badge-top-left {
  left: -5px;
  top: -5px;
}
.badge-top-right {
  right: -5px;
  top: -5px;
}
.badge-bottom-left {
  left: -5px;
  bottom: -5px;
}
.badge-bottom-right {
  bottom: -5px;
  right: -5px;
}

.items-list-item-indicators-icons-product .product-type-unknown-icon ~ .product-status-badge,
.items-list-item-indicators-icons-product .product-type-package-icon ~ .product-status-badge,
.items-list-item-indicators-icons-product .product-type-dlc-icon ~ .product-status-badge,
.items-list-item-indicators-icons-product .product-type-music-icon ~ .product-status-badge,
.items-list-item-indicators-icons-product .product-type-video-icon ~ .product-status-badge,
.items-list-item-indicators-icons-product .product-type-package-icon ~ .package-owned-keys-badge,
.items-list-item-indicators-platforms .key-owned-badge {
  top: -9px !important;
}

.items-list-item-indicators-icons-product .product-type-dlc-icon ~ .product-base-game-badge,
.items-list-item-indicators-icons-product .product-type-music-icon ~ .product-base-game-badge {
  top: -8px !important;
  padding: 0px 9px 0px 8px !important;
}
.items-list-item-indicators-icons-product .product-type-dlc-icon ~ .product-base-game-badge,
.items-list-item-indicators-icons-product .product-type-package-icon ~ .package-owned-keys-badge,
.items-list-item-indicators-platforms .key-owned-badge {
  right: -7px !important;
}
.items-list-item-indicators-icons-product .product-type-music-icon ~ .product-base-game-badge {
  right: -10px !important;
}

.items-list-item-indicators-icons-product .product-type-dlc-icon ~ .product-base-game-owned-badge,
.items-list-item-indicators-icons-product .product-type-music-icon ~ .product-base-game-owned-badge,
.items-list-item-indicators-icons-product .product-type-package-icon ~ .package-owned-apps-badge {
  bottom: -2px;
}

.items-list-item-indicators-icons-product .product-type-package-icon ~ .package-owned-keys-badge,
.items-list-item-indicators-platforms .key-owned-badge {
  font-size: 10px;
  padding: 7px 7px 7px 8px !important;
}

.items-list-item-indicators-platforms .package-items-owned-badge {
  font-size: 14px;
  top: -10px;
  right: -3px;
}

.items-list-item-indicators-icons-owner .owner-level-badge {
  bottom: -1px;
}

.items-list-item-indicators-icons-description .feudalife-badge {
  left: 0px;
}